.container {
  height: 200px;
  margin: 40px 120px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
}

.close-icon {
  position: absolute;
  top: -14px;
  right: -14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.cart-deatils {
  display: flex;
  align-items: center;
}

.total-amount {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  padding-left: 140px;
}
