.header-container {
  background-color: #263159;
  color: #fff;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 0px 15px;
}

.footer-container {
  background-color: #263159;
  color: #fff;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.header-right-panel {
  display: flex;
  gap: 45px;
}

.MuiPopover-paper {
  top: 56px !important;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userName {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
